# Datasets
backend/dataset/
backend/uploads/
dataset/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Models (optional, but keeping for now as it's the core result, though large)
# model.keras

# OS
.DS_Store
Thumbs.db
